<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Laons Functions</title>
</head>
<body>
    <h1>My Loans</h1>
    <div>
            <table>
                <tr>
                    <th>
                        Loan amount
                    </th>
                    <th>
                        Date until loan
                    </th>
                    <th>
                        Sum what need get back
                    </th>
                    <!--<th>-->
                        <!--Pagarināt-->
                    <!--</th>-->
                </tr>
                <tr th:each="loan: ${loans}">
                    <td th:utext="${loan.amount}"></td>
                    <td th:utext="${loan.term}"></td>
                    <td th:utext="${loan.backAmount}"></td>
                    <!--<td ><form th:action="@{/myLoans/{id}(id=${loan.id})}" th:object="${loanexist}"><input type="submit" value="Update User"></form></td>-->
                </tr>
            </table>
    </div>
    <a href="/loanwelcome">Submit anouterh loan</a>

</body>
</html>